{% extends 'base.html.twig' %}

{% block body_id 'register' %}

{% block body %}

    {% for msg in app.session.flashbag.get('info') %}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
            {{ msg }}
        </div>
    {% endfor %}

    <h1 class="h5 mx-2 my-4">Register new user</h1>
    <hr />

    <form class="m-3 col-6" action="{{ path('user_register') }}" method="post">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-8">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email" name="user[email]" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="password_first" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="password_first" placeholder="Password"
                       name="user[password][first]" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="password_second" class="col-sm-2 col-form-label">Confirm Password</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="password_second" placeholder="Retype password"
                       name="user[password][second]" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="name" placeholder="Your name" name="user[fullName]" required>
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Role</legend>
                <div class="col-sm-8">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="user[userType]" id="gridRadios1"
                               value="type_owner">
                        <label class="form-check-label" for="gridRadios1">
                            Owner
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="user[userType]" id="gridRadios2"
                               value="type_tourist">
                        <label class="form-check-label" for="gridRadios2">
                            Tourist
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        {{  form_row(form._token) }}
        <div class="form-group row">
            <div class="col-sm-8">
                <a class="btn btn-outline-secondary" href="{{ path('blog_index') }}">Cancel</a>
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </form>

{% endblock %}
