{% extends 'base.html.twig' %}

{% block main %}

    <form method="post">
        <label>
            About:
            <input type="text" name="message[about]"/>
        </label><br />
        <label>
            Content:
            <textarea rows="10" name="message[content]"></textarea>
        </label><br />
        {{  form_row(form._token) }}
        <input type="submit" value="Send"><br />
    </form>

{% endblock %}

